<footer class="footer">
	<div class="container">
		<p>&copy; HotelsHub 2016. Made by <a target="blank" href="https://github.com/jsjaskaran">Jaskaran</a></p>
	</div>
</footer>

<!-- js -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/ejs.min.js"></script>

<!-- js for this project -->
<script src="/js/project.js"></script>