<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head %>
  
</head>
<body class="avoid-fout page-blue">

  <div class="content">
    <div class="content-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="heading">HotelsHub</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <section class="content-inner ">
          
          <h3>Welcome to Treebo Hotels Full Stack Developer Hiring HackerEarth Challenge</h3>

          <h4><a href="/list">Go to List Page</h4>
          
        </section>
      </div>
    </div>
  </div>
  
  <% include partials/footer %>

</body>
</html>