<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head %>
  
</head>
<body class="avoid-fout page-yellow">

  <div class="content">
    <div class="content-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="heading">HotelsHub - Stats</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
          <section class="content-inner stats-content">
            
            <div class="progress-circular progress-circular-alt progress-circular-center">
              <div class="progress-circular-wrapper">
                <div class="progress-circular-inner">
                  <div class="progress-circular-left">
                    <div class="progress-circular-spinner"></div>
                  </div>
                  <div class="progress-circular-gap"></div>
                  <div class="progress-circular-right">
                    <div class="progress-circular-spinner"></div>
                  </div>
                </div>
              </div>
            </div>

            
          </section>
        </div>
      </div>
    </div>
  </div>
  
  <% include partials/footer %>

</body>
</html>